<h1>Contact Us</h1>
<p>
  Contact the rails tutrial guys
  <a href="http://railstutorial.org/contactus">Rails Tutorial contact page</a>.
  To get help on this sample app, see the
  <a href="http://railstutorial.org/book">Rails Tutorial book</a>.
</p>
